.product-detai{
    .wrap-label{
        ._right{
            .list-chuyen-muc{
                .__item{
                    display: flex;
                    flex-wrap: wrap;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: solid 1px #f5f5f5;
                    .__w-img{
                        width: calc(((100% - 20px) / 8) * 3);
                        margin-right: 20px;
                        margin-bottom: 0;
                    }
                    .__item__right{
                        width: calc(((100% - 20px) / 8) * 5);
                        ._description{
                            -webkit-line-clamp: 2;
                            height: 41px;
                        }
                        .__summary{
                            margin-bottom: 15px;
                            color: #333;
                            word-break: break-word;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            height: 85px;
                        }
                    }
                }
            }
        }
        ._left{
            .block-category-news{
                margin-bottom: 40px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                box-shadow: 0 0 18px 0 #cbcbcb;
                .category-news__title{
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 24px;
                    font-weight: bold;
                    text-align: center;
                    background-color: #006594;
                    // height: 58px;
                    line-height: 58px;
                    text-align: center;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
                .category-news__lis-item{
                    padding: 11px 19px;
                    a{
                        display: flex;
                        justify-content: space-between;
                        color: #333;
                        height: 36px;
                        line-height: 36px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}