.product-detai{
    .wrap-label{
        ._right{
            .title-label-right{
                font-size: 30px;
                margin-bottom: 24px;
            }
            .team_doctor{
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: solid 1px #e8e8e8;
                .__item{
                    margin-bottom: 12px;
                    width: calc((100% - 24px) / 3);
                    margin-right: 12px;
                    &:nth-of-type(3n){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}